{% extends 'base.html' %}

{% block header %}
<br>
<div class="container-fluid">
  <p class="lead">
      <b>Neue Datenbank erstellen</b>
  </p>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="create-database-record" method="POST">
        {% csrf_token %}
        <div class="mb-3" style="width: 30%; margin: 10px">
            <label for="db_name" class="form-label">Name einer Datenbank:</label>
            <input type="text" class="form-control" id="db_name" name="db_name" placeholder="erforderlich" required>
        </div>
        <input type="submit" class="btn btn-success" value="Speichern">
    </form>
</div>
{% endblock %}