{% extends 'base.html' %}

{% block header %}
<br>
<div class="container-fluid">
  {% for x in dbs %}
  <p class="lead">
      <b>Passwortdatenbank verwalten: <b>{{ x.db_name }}</b></b>
  </p>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for x in dbs %}
    <a href="{% url 'create_pw' x.db_id %}" class="btn btn-success">Neues Passwort erstellen</a>
    {% endfor %}
</div>
<br>
<div class="container-fluid">
    <input class="form-control me-2" type="search" id="search" onkeyup="pswdsTableFilter()" name="search" placeholder="Search..." style="width: 90%; margin-left: 10px;" autofocus/>
    <br>
    <table id="all_pswds" class="table table-bordered">
        <tr class="header">
            <th>Nr</th>
            <th>Username</th>
            <th>Passwort</th>
            <th>Link</th>
            <th>Bemerkung</th>
            <th>Passwort ändern</th>
            <th>Passwort löschen</th>
        </tr>
        {% for x in pswds %}
        <tr>
            <td>{{ x.pw_id }}</td>
            <td>{{ x.pw_username }}</td>
            <td>{{ x.pw_password }}</td>
            <td>{{ x.pw_link }}</td>
            <td>{{ x.pw_note }}</td>
            <td><a href="/show-databases/{{ x.db.db_id }}/show-passwords/update-password/{{ x.pw_id }}" class="btn btn-success">Ändern</a></td>
            <td><a href="/show-databases/{{ x.db.db_id }}/show-passwords/delete-password/{{ x.pw_id }}" class="btn btn-danger">Löschen</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}